
<!-- Importar el layout a la pagina -->
{% extends 'layout.html'%}
{% block content%}
<!-- sintaxis django -->
{% for post in posts %}


<div class = 'card card-body'>

    <div class="row"> 

        <div class="col-3">
            <img src="{{post.image.url}}" alt'{{post.title}}' class="img-fluid">

        </div>


        <div class="col-9">
            <h2> {{post.title}} </h2>
            <p> {{post.description | truncatechars:200}}</p>
            <a href="{% url 'blog:post_detail' post.id %}"> {{post.title}} </a>

        </div>

    </div>



</div>
{% endfor %}
{% endblock %}


